#{extends 'main.html' /}
#{set title:'Play Gym' /}

#{menu id:"about"/}

<section class="ui center aligned middle aligned segment">
  <div class="ui middle aligned grid">
    <div class="eight wide column">
        <h1 class = "ui header"> BMI TRACKER</h1>
        <h2 class = "ui header" >Fill in your assessment week by week and track your BMI. Trainers will comment on your progress and encourage youy to keep going</h2>
      </div>
    <div class="eight wide column">
      <img class = "ui image" src="/public/images/seticon.jpg">
    </div>
  </div>
</section>